blessed==1.19.1
click==8.0.3
colorama==0.4.4
halo==0.0.31
inquirer==2.9.1
log-symbols==0.0.14
pyfiglet==0.8.post1
python-editor==1.0.4
readchar==3.0.5
shellingham==1.4.0
simple-chalk==0.1.0
six==1.16.0
spinners==0.0.24
termcolor==1.1.0
typer==0.4.0
wcwidth==0.2.5
