attrs==21.4.0
blessed==1.19.1
click==8.0.3
colorama==0.4.4
coverage==6.3
halo==0.0.31
iniconfig==1.1.1
inquirer==2.9.1
log-symbols==0.0.14
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyfiglet==0.8.post1
pyparsing==3.0.7
pytest==6.2.5
pytest-cov==3.0.0
python-editor==1.0.4
readchar==3.0.5
shellingham==1.4.0
simple-chalk==0.1.0
six==1.16.0
spinners==0.0.24
termcolor==1.1.0
toml==0.10.2
tomli==2.0.0
typer==0.4.0
wcwidth==0.2.5
